html{
    font-size: 16px;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url("Montserrat-SemiBold.ttf");
}

body{
    margin: 0;
    padding: 0;
}

.cover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1.125rem 1rem;
}

.cover .content-lists-box {
    width: 100%;
}

.cover .content-lists-box .content-list-box {
    width: 100%;
}

.cover .content-lists-box .content-list-box .sub-title{
    width: 100%;
    text-indent: 1.25rem;
    font-weight: 600;
    font-size: .75rem;
    line-height: .9375rem;
    text-align: justify;
    color: #1A1A1A;
    font-family: Montserrat-SemiBold;
}

.cover .content-lists-box .content-list-box .content-text-box {
    width: 100%;
}

.cover .content-lists-box .content-list-box .content-text-box .content-text{
    width: 100%;
    text-indent: 1.25rem;
    font-size: .75rem;
    line-height: .9375rem;
    text-align: justify;
    color: #1A1A1A;
    font-family: Montserrat-Regular;
}